<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">CoderRestaurant</a>
</nav>
<br>
<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-md-6" style="text-align: center">
      <h1>CoderRestaurant</h1>
      <h2>Contact us</h2>
      <p>123 Nguyen Du</p>
      <p>District 1</p>
      <p>Ho Chi Minh City</p>
      <p>Phone: 091 111 1111</p>
    </div>
    <div class="col-md-6">
      <div style="width: 500px"><iframe width="500" height="300" src="https://maps.google.com/maps?width=500&amp;height=300&amp;hl=en&amp;q=123%20nguyen%20du%20quan%201+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Google Maps iframe generator</a></iframe></div>
    </div>
  </div>
  <br />
</div>



