<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">CoderRestaurant</a>
</nav>
<br>
<div style="text-align: center" class="jumbotron">
  <h3>Welcome to</h3>
  <h1 class="display-4">CoderRestaurant</h1>
  <div style="margin-top: 10px" class="btn-group">
    <a style="width: 200px" class="btn btn-outline-secondary btn-lg" href="/menu" role="button">Menu</a>
    <a style="width: 200px" class="btn btn-outline-secondary btn-lg" href="/contact" role="button">Contact us</a>
  </div>
</div>
